.form{
    background-color: var(--color-gray);
    width: fit-content;
    padding: 1rem;
}

.form-list{
    display: flex;
    flex-direction: column;
}

.form-item {
    padding: 0.5rem 0;
}

.input-title {
    padding: 0.3rem 0;
}

.form-button{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.5rem 3rem;
}