<div class="form font-sans">
  <ul class="form-list font-mono">
    <li class="form-item">
      <p class="input-title">Titre</p>
      <input required placeholder="Saisir le titre">
    </li>
    <li class="form-item">
      <p class="input-title">Réalisateur</p>
      <input required placeholder="Saisir le réalisateur">
    </li>
    <li class="form-item">
      <p class="input-title">Année de sortie</p>
      <input required placeholder="Saisir l'année">
    </li>
    <li class="form-item">
      <p class="input-title">Durée</p>
      <input required placeholder="Saisir la durée en minutes">
    </li>
    <li class="form-item">
      <p class="input-title">Description</p>
      <input required placeholder="Saisir la description">
    </li>
    <li class="form-item">
      <p class="input-title">Image</p>
      <input required placeholder="Saisir le nom du fichier">
    </li>
    <li class="form-item">
      <p class="input-title">URL</p>
      <input required placeholder="Saisir l'URL du film">
    </li>
    <li class="form-item">
      <p class="input-title">Restriction d'âge</p>
      <input required placeholder="Saisir l'âge minimum">
    </li>
    <li class="form-item">
      <select name="catégorie">
        <option value="Drame">Drame</option>
        <option value="Action">Action</option>
        <option value="Animation">Animation</option>
      </select>
    </li>
  </ul>
</div>
