<div class="form font-sans">
  <form class="addMovieForm">
      <input required name="titre" type="text" placeholder="Saisir le titre">
      <input required name="realisateur" type="text" placeholder="Saisir le réalisateur">
      <input required name="annee" type="number" placeholder="Saisir l'année">
      <input required name="duree" type="number" placeholder="Saisir la durée en minutes">
      <input required name="description" type="text" placeholder="Saisir la description">
      <input required name="image" type="text" placeholder="Saisir le nom du fichier">
      <input required name="url" type="text" placeholder="Saisir l'URL du film">
      <input required name="age" type="number" placeholder="Saisir l'âge minimum">
      <select name="categorie">
        <option value="1">Action</option>
        <option value="2">Comédie</option>
        <option value="3">Drame</option>
        <option value="4">Science-fiction</option>
        <option value="5">Animation</option>
        <option value="6">Thriller</option>
        <option value="7">Horreur</option>
        <option value="8">Aventure</option>
        <option value="9">Fantaisie</option>
        <option value="10">Documentaire</option>
      </select>
      <input onclick="{{handler}}" class="form-button" type="button" value="Ajouter Film" name="todo">
  </form>
</div>
