<article class="detail font-sans">
  <h1 class="detail-title">{{title}}</h1>
  <div class="detail-container">
    <img class="detail-image" src="../server/images/{{image}}" alt="image film"/>
    <div class="detail-text_container">
      <h2 class="detail-susbtitle">Synopsis</h2>
      <p class="detail-text">{{synopsis}}</p>
      <h2 class="detail-susbtitle">Réalisateur</h2>
      <p class="detail-text">{{realisateur}}</p>
      <h2 class="detail-susbtitle">Année de sortie</h2>
      <p class="detail-text">{{annee}}</p>
      <h2 class="detail-susbtitle">Catégorie</h2>
      <p class="detail-text">{{categorie}}</p>
      <h2 class="detail-susbtitle">Limite d'âge</h2>
      <p class="detail-text">{{age}}</p>
    </div>
  </div>
  <iframe src="{{url}}" allowfullscreen></iframe>
</article>
