<div class="profile font-sans">
  <form class="addProfileForm">
      <input required name="nom" type="text" placeholder="Saisir le nom du profil">
      <select name="age">
        <option value="null">Ajouter une restriction d'âge</option>
        <option value="0">Tout publics</option>
        <option value="12">12 ans</option>
        <option value="16">16 ans</option>
      </select>
      <input onclick="{{handler}}" class="form-button" type="button" value="Ajouter Profil" name="todo">
  </form>
</div>
